<div class="page-header">
	<h2>
		Registro de Proveedor 
	</h2>
</div>

<%= render 'form' %>

<div class="form-actions">
	<%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), proveedores_path, :class => "btn btn-primary" %>	
</div>

