<div class="page-header">
	<h2>Editar Subfase</h2>
</div>

<%= render 'form' %>

<div class="form-actions">
	<%= link_to raw('<i class="icon-eye-open icon-white"></i> Ver'), @subfase, :class => "btn btn-info" %>
	<%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), subfases_path, :class => "btn btn-primary" %>	
</div>

