<div class="page-header">
	<h1>
		Editar Vale de Consumo
	</h1>
</div>


<%= render 'form' %>

<div class="form-actions">
	<%= link_to raw('<i class="icon-eye-open icon-white icon-white"></i> Ver'), @valesdeconsumo, :class => "btn btn-info" %>
	<%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), valesdeconsumos_path, :class => "btn btn-primary" %>	
</div>

