<div class="page-header">
	<h2>Editar Categoria Preciario</h2>	
</div>

<%= render 'form' %>

<div class="form-actions">
	<%= link_to raw("<i class='icon-eye-open icon-white'></i> Ver"), @listacategoria, :class => 'btn btn-info' %>
	<%= link_to raw("<i class='icon-arrow-left icon-white'></i> Regresar"), listacategorias_path, :class => 'btn btn-primary' %>	
</div>

