<div class="page-header">
	<h1>Editing equiposdesubcontrato</h1>	
</div>

<%= render 'form' %>

<div class="form-actions">
	<%= link_to raw("<i class='icon-eye-open icon-white'></i> Ver"), @equiposdesubcontrato, class: 'btn btn-info' %>
	<%= link_to raw("<i class='icon-arrow-left icon-white'></i> Regresar"), "/subcontratodeequipos/ver_equipos/#{@equiposdesubcontrato.subcontratodeequipo_id}", class: 'btn btn-primary' %>	
</div>

