<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @reportedeequipo.nombre %>
</p>


<%= link_to 'Edit', edit_reportedeequipo_path(@reportedeequipo) %> |
<%= link_to 'Back', reportedeequipos_path %>
