<div class="page-header">
	<h1>
		Nuevo <%= link_to "Parte de Personal", partediariodepersonals_path %> <%= image_tag ('glyphicons_190_circle_plus.png') %>
	</h1>
</div>

<%= render 'form' %>

<div class="form-actions">
	<%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), partediariodepersonals_path, :class => "btn btn-primary"%>	
</div>

